# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/ui/node_modules
/src/ui/.pnp
/src/ui/.pnp.js
/src/ui/.yarn/install-state.gz
/data/db

# testing
/src/ui/coverage

# next.js
/src/ui/.next/
/src/ui/out/

# production
/src/ui/build

# misc
/src/ui/.DS_Store
/src/ui/*.pem

# debug
/src/ui/npm-debug.log*
/src/ui/yarn-debug.log*
/src/ui/yarn-error.log*

# local env files
/src/ui/.env*.local

# vercel
/src/ui/.vercel

# typescript
/src/ui/*.tsbuildinfo
/src/ui/next-env.d.ts
.DS_Store
src/api/marketplace/.idea/inspectionProfiles/profiles_settings.xml
src/api/marketplace/.idea/marketplace.iml
src/api/marketplace/.idea/misc.xml
src/api/marketplace/.idea/vcs.xml
src/api/marketplace/.idea/workspace.xml
src/api/marketplace/marketplace/logs/

# solana
solana/node_modules/*
solana/test-ledger/*
solana/target/debug/*
solana/.anchor*
solana/target/release/*
solana/target/sbf-solana*
solana/target/deploy*
*~
solana-client/node_mosules*
solana-client/.next*
