.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #282c34;
}

.AppHeader {
  height: 90px;
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.AppBody {
  height: 100%;
  display: flex;
  background-color: rgb(131, 75, 133);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(30px + 2vmin);
  color: rgb(71, 175, 201);
  padding-top: 10px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c066aa;
}

.input {
  align-items: center;
  display: flex;
  font-size: 200px;
  font-size: max(10px, 1em);
  font-family: inherit;
  padding: 0.25em 2.5em;
  background-color: #9060dd;
  color: rgb(248, 244, 4);
  border: 10px solid var(--input-border);
  border-radius: 50px;
}

.input[type="file"] {
  font-size: 10.9em 2.4em;
  padding-top: 0.35rem;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.formButton {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.button{
  font-size: 16px;
}

.buttonContainer{
  padding: 15px;
}